<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>path</key>
	<string>/public/api/v1/pub/b2c/driver/authentication/ng-v1</string>
	<key>scheme</key>
	<string>https</string>
	<key>host</key>
	<string>staging-api.yassir.io</string>
	<key>isOwnerPresenceEnabled</key>
	<false/>
</dict>
</plist>
